footer{
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    float:left;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    margin: 0;
    padding-left: 20px;
}
