header{
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 10px 0;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.12);
    float:left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
}

.header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;

}