nav{
    background-color: #fff;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}



nav ul{
    padding: 0;
    margin: 0;
}

nav ul li{
    list-style-type: none;
    padding: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    display: block;
}

nav ul li a:hover{
    background-color: #f4f4f4;
    color: #000;
}

nav ul li a.active{
    background-color: #4CAF50;
    color: white;
}

nav.nav-open {
    width: 200px;
    transition: width 0.3s ease-in-out;
}

nav.nav-closed {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.toggle-button{
    position: fixed;
    top: 50px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 30%;
    cursor: pointer;
}

.toggle-button.open {
  left: 210px;
}

.toggle-button.closed {
  left: 10px;
}