.notification_box {
    position: fixed;
    top: 50px;
    right: 0;
    width: 250px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: 1000;
    height: 100%;
    display: none;
}